@{
    ViewData["Title"] = "About";
}

<!-- about header -->
<section class="hero pb-5">
  <span class="image image-overlay" style="background-image: url(/images/treeslego.jpg)"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-white">
        <span class="eyebrow decorated mb-1">About Aurora</span>
        <h1 class="mb-2">Aurora's LEGO Adventure: Building Dreams, One Brick at a Time</h1>
        <br />
      </div>
    </div>
  </div>
</section>
<!-- / about header -->

<section class="pt-5">
  <div class="container">

    <!-- paragraph -->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p>Aurora Brickwell hopes that through her website, she can share her passion for legos and sale her unique designs. She aims to build a Lego community that celebrates imagination and innovation.</p>
      </div>
    </div>

    <!-- carousel -->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="owl-carousel text-center" data-nav="true">
          <figure class="card card-equal equal-50">
            <span class="image" style="background-image: url(/images/auroramini.jpg)"></span>
          </figure>
        </div>
      </div>
    </div>
    
    <!-- paragraph -->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p>Aurora Brickwell's passion for Legos™ began at a young age, leading her to become a renowned collector and master builder. With her distributor license from The Lego Group™, she has built a strong online presence, captivating a large following on social media. Now, Aurora is ready to take her business to the next level. Launching her website, Aurora aims to sell her favorite Lego sets and showcase her unique designs, reaching a wider audience and inspiring others with her creativity.</p>
      </div>
    </div>
  </div>
</section>