@{
}

<!-- welcome -->
<section class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <h1 class="font-weight-light"><b class="d-block">Order Pending!</b></h1>
            </div>
        </div>
        <div class="row gutter-4">
            <div class="col-md-5 col-lg-4">
                <span class="eyebrow">Your Order Is Currently Under Review</span>
                <p class="lead my-1 text-dark">Thanks for your patience. We will get back to you soon.<br><br></p>
                <a asp-controller="Home" asp-action="Index" class="eyebrow underline action">Go Back</a>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>