@{
    
}
@model Order

<!-- welcome -->
<section class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <h1 class="font-weight-light"><b class="d-block">Order Confirmed!</b></h1>
            </div>
        </div>
        <div class="row gutter-4">
            <div class="col-md-5 col-lg-4">
                <span class="eyebrow">Order</span>
                <p class="lead my-1 text-dark">Transaction ID: @Model.transaction_ID <br>Amount: @Model.amount<br>Shipping Address: @Model.shipping_address</p>
                <a asp-controller="Home" asp-action="Index" class="eyebrow underline action">Go Back</a>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>